<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>TeachWorkload</title>
    </head>
    <body>
        <div id="root">Loading...</div>
        <script src="bundle.js"></script>
    </body>
</html>