.adminTable{
    border-collapse: collapse;
    width: 100%;
}

.border{
    border: 1px solid #ddd;
    padding: 8px;
}

.th {
    background-color: rgb(42,88,133);
    color: white;

    border: 1px solid #ddd;
    padding: 8px;
}

.select{
    width:100%;
    height: 100%;
    text-align: center;
}

.option{
    text-align: center;
}

.button{
    background-color: rgb(42,88,133);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}