.app {
    text-align: center;
}
  
.appLogo {
    height: 80px;
}
  
.appHeader {
    height: 120px;
    padding: 10px;
    color: white;
    text-align: center;
    margin: 1px, auto;
}
  
.appTitle {
    font-size: 2em;
    margin: 1px, auto;
}
  
.appIntro {
    font-size: large;
}

.appHeaderContainer{
    background-color: rgb(42,88,133);
    display:flex;
    justify-content: space-around;
}

.appHeaderBlock{
    align-self: center;
    flex-grow: 9;
}