.graphHorizontalContainer{
    display: flex;
}

.graphVerticalContainer{
    display: flex;
    flex-direction: column;
}

.border{
    border: 1px solid #ddd;
    padding: 8px;
    height: 1%;
}
.table{
    border-collapse: collapse;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.tr{
    height: 1%;
}