.select {
    margin: 1%;
    width: 70%;
    font-size: 110%;
    text-align-last: center;
    border-color: rgb(60, 126, 192);
    border-style: double;    
}

.select option{
    text-align-last: center;
}