.littleGraph{
    width: 30%;
    border-style: groove; 
    margin: 1%;
}

.bigGraph{
    /*width: 30%;*/ 
    margin: 1%;
}
.button{
    background-color: rgb(42,88,133);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}