.inputMenuContainer{
    display: flex;
    flex-direction: column;
}

.inputMenu{
    align-self: center;
    flex-grow: 1;
    margin: 1%;
}

.inputMenuContainer a{
    color: white;
    text-decoration: none;
}

.inputMenuContainer a:visited{
    color: white;
}

.inputMenuContainer a:hover{
    color: white;
    text-decoration: underline;
}

