.container{
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
.list2a {
    /*margin-bottom: 8px;*/
    padding:0;
    list-style: none;
    counter-reset: li;
    margin: 0 auto;
    
}    
.list2a li {
    position: relative;
    border: 2px solid rgb(60, 126, 192);
    background: #EBF3FA;
    padding:16px 20px 16px 28px;
    margin:12px 0 12px 40px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.list2a li:hover {
    background: #FFF;
}
.list2a li:before {
    line-height: 32px;
    position: absolute;
    top: 4px;
    left:-40px;
    width:40px;
    text-align:center;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    background: rgb(60, 126, 192);
    counter-increment: li;
    content: counter(li);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.list2a li:hover:before {
    width:46px;
}
.list2a li:after {
    position: absolute;
    left: 0;
    top: 4px;
    content: "";
    height: 0;
    width: 0;
    border: 16px solid transparent;
    border-left-color:rgb(60, 126, 192);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s
}
.list2a li:hover:after {
    margin-left: 6px;
}

.list2a a {
    text-decoration: none;
    display:block;
    color: black;
    font-size: 100%;
    width: 100%;
}
.list2a a:visited{
    color: black;
}
.list2a a:hover{
    color: blue;
}