.ul{
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    margin-top:1%; /*делаем отступ сверху*/
    background:rgb(42,88,133); /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
    height: 50px; /*задаем высоту*/
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.a{
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    color:#fff; /*меняем цвет ссылок*/
    padding:0px 15px; /*добавляем отступ*/
    line-height:50px; /*ровняем меню по вертикали*/
    display: block; 
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}
.li{
    display: block; 
    border: 1px solid rgb(255, 255, 255);
    background: rgb(42,88,133);
}
.li:hover {
    background:rgb(60, 126, 192);/*добавляем эффект при наведении*/
}