.selectType{
    margin-bottom: 1em;
  padding: .25em;
  border: 0;
  border-bottom: 2px solid currentcolor; 
  /*font-weight: bold;*/
  letter-spacing: .15em;
  border-radius: 0;
  font-size: 1em;
  /*margin-top:20vh;
    
  min-width: 12em;
  position: relative;
  margin-right: 1em;
  min-height: 2em;
  max-height:2em;
  overflow:hidden;
  top: .5em;  
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: #444;
  
  outline: none;
  border: .06em solid transparent;
  border-radius: 1em;
  background-color: mix(#fff,25%);*/
}